<div class="row product-container list-style">
    <div class="product-item col-lg-4 col-md-6 col-sm-6">
        <div class="item">
            <div class="image-container">
                <a class="item-img-wrapper-link" href="single-product.html">
                    <img class="img-fluid" src="images/product/product@3x.jpg" alt="Product">
                </a>
                <div class="item-action-behaviors">
                    <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>
                    <a class="item-mail" href="javascript:void(0)">Mail</a>
                    <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>
                    <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
                </div>
            </div>
            <div class="item-content">
                <div class="what-product-is">
                    <ul class="bread-crumb">
                        <li class="has-separator">
                            <a href="shop-v1-root-category.html">Men's</a>
                        </li>
                        <li class="has-separator">
                            <a href="shop-v2-sub-category.html">Tops</a>
                        </li>
                        <li>
                            <a href="shop-v3-sub-sub-category.html">T-Shirts</a>
                        </li>
                    </ul>
                    <h6 class="item-title">
                        <a href="{% url 'single_product' %}">Mischka Plain Men T-Shirt</a>
                    </h6>
                    <div class="item-description">
                        <p>T-shirts with bold slogans were popular in the UK in the 1980s. T-shirts were originally worn as undershirts, but are now worn frequently as the only piece of clothing on the top half of the body, other than possibly a brassiere or, rarely, a waistcoat (vest). T-shirts have also become a medium for self-expression and advertising, with any imaginable combination of words, art and photographs on display.</p>
                    </div>
                    <div class="item-stars">
                        <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                            <span style='width:67px'></span>
                        </div>
                        <span>(23)</span>
                    </div>
                </div>
                <div class="price-template">
                    <div class="item-new-price">
                        $55.00
                    </div>
                    <div class="item-old-price">
                        $60.00
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-item col-lg-4 col-md-6 col-sm-6">
        <div class="item">
            <div class="image-container">
                <a class="item-img-wrapper-link" href="single-product.html">
                    <img class="img-fluid" src="images/product/product@3x.jpg" alt="Product">
                </a>
                <div class="item-action-behaviors">
                    <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>
                    <a class="item-mail" href="javascript:void(0)">Mail</a>
                    <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>
                    <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
                </div>
            </div>
            <div class="item-content">
                <div class="what-product-is">
                    <ul class="bread-crumb">
                        <li class="has-separator">
                            <a href="shop-v1-root-category.html">Men's</a>
                        </li>
                        <li class="has-separator">
                            <a href="shop-v2-sub-category.html">Tops</a>
                        </li>
                        <li>
                            <a href="shop-v4-filter-as-category.html">T-Shirts</a>
                        </li>
                    </ul>
                    <h6 class="item-title">
                        <a href="single-product.html">Black Bean Plain Men T-Shirt</a>
                    </h6>
                    <div class="item-description">
                        <p>T-shirts with bold slogans were popular in the UK in the 1980s. T-shirts were originally worn as undershirts, but are now worn frequently as the only piece of clothing on the top half of the body, other than possibly a brassiere or, rarely, a waistcoat (vest). T-shirts have also become a medium for self-expression and advertising, with any imaginable combination of words, art and photographs on display.</p>
                    </div>
                    <div class="item-stars">
                        <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                            <span style='width:67px'></span>
                        </div>
                        <span>(23)</span>
                    </div>
                </div>
                <div class="price-template">
                    <div class="item-new-price">
                        $55.00
                    </div>
                    <div class="item-old-price">
                        $60.00
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>