{% extends "base.html" %}

{% block title  %}Custom{% endblock title %}

{% block style-link %}
    <style>
        
@media (min-width: 1200px) {
    .container {
        max-width: 1850px;
    }
}
    </style>
{% endblock style-link %}

{% block page-bredcrumb %}
    {% comment %} {% include "includes/page-bredcrumbs.html" %} {% endcomment %}
{% endblock page-bredcrumb %}

{% block main-content %}

<!-- Account-Page -->
<div class="page-account u-s-p-t-80">
    <div class="container">
        <div class="row">
            <!-- Login -->
            <div class="col-lg-6">
                <div class="login-wrapper">
                    <h2 class="account-h2 u-s-m-b-20">Login</h2>
                    <h6 class="account-h6 u-s-m-b-30">Welcome back! Sign in to your account.</h6>
                    <form method="post">
                        {% csrf_token %}
                        <div class="u-s-m-b-30">
                            <label for="user-name-email">Email
                                <span class="astk">*</span>
                            </label>
                            <input type="email" id="user-name-email" name="email" class="text-field" placeholder="Email" required>
                        </div>
                        <div class="u-s-m-b-30">
                            <label for="login-password">Password
                                <span class="astk">*</span>
                            </label>
                            <input type="password" name="password" id="login-password" class="text-field" placeholder="Password" required>
                        </div>
                        <div class="m-b-45">
                            <button name="login" id="loginButton" type="submit" class="button button-outline-secondary w-100">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Login /- -->
            <!-- Register -->
            <div class="col-lg-6">
                <div class="reg-wrapper">
                    <h2 class="account-h2 u-s-m-b-20">Register</h2>
                    <h6 class="account-h6 u-s-m-b-30">Registering for this site allows you to access your order status and history.</h6>
                    <form method="post">
                        {% csrf_token %}
                        <div class="u-s-m-b-30">
                            <label for="user-name">Name
                                <span class="astk">*</span>
                            </label>
                            <input type="text" name="name" id="user-name" class="text-field" placeholder="Name" required>
                        </div>
                        <div class="u-s-m-b-30">
                            <label for="email">Email
                                <span class="astk">*</span>
                            </label>
                            <input type="email" name="email" id="email" class="text-field" placeholder="Email" required>
                        </div>
                        <div class="u-s-m-b-30">
                            <label for="password">Password
                                <span class="astk">*</span>
                            </label>
                            <input type="password" name="password" id="password" class="text-field" placeholder="Password" required>
                        </div>
                        <div class="u-s-m-b-30">
                            <input type="checkbox" class="check-box" id="accept">
                            <label class="label-text no-color" for="accept">I’ve read and accept the
                                <a href="terms-and-conditions.html" class="u-c-brand">terms & conditions</a>
                            </label>
                        </div>
                        <div class="u-s-m-b-45">
                            <button name="register" id="registerButton" class="button button-primary w-100">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Register /- -->
        </div>
    </div>
</div>
<!-- Account-Page /- -->

{% endblock main-content %}

{% block script-links %}

{% endblock script-links %}